Flask
numpy
opencv-python-headless  # Usamos la versión headless que no requiere GUI
scipy
dlib
Flask
numpy
scipy
opencv-python-headless
dlib
PyJWT
flask-cors


# pip install minio
# sudo apt-get install libpq-dev
# pip install psycopg2

